header {
  width: 100%;
  height: 5.5rem;
  background-color: var(--color-grey-01);
  box-shadow: 0 4px 32px -12px var(--shadow-black-01);
}

.header_container {
  height: 100%;
  display: flex;
  align-items: center;
}

.App {
  display: flex;
  margin-top: 2.4375rem;
}

form {
  width: 22.1875rem;
  height: 27.125rem;
  border: 1px solid var(--shadow-black-02);
  padding: 1.875rem 1.4331rem;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.7562rem;
}

input, select {
  height: 3.3rem;
  background-color: var(--color-grey-01);
  border-radius: var(--border-radius-01);
  border: none;
  font-size: var(--font-size-03);
  color: var(--color-grey-03);
  padding: 0.6875rem 1rem;
}

input:first-of-type {
  margin-bottom: 0.275rem;
}

input:last-of-type {
  margin-bottom: 0.625rem;
}

select {
  appearance: none;
  background: url(../src/assets/angleDown.svg) no-repeat;
  background-color: var(--color-grey-01);
  background-position: 95% center;
  margin-bottom: 1.625rem;
}

form span {
  margin-bottom: 0.5437rem;
}

.btn_insert-value {
  height: 3rem;
  background-color: var(--color-primary-01);
  color: var(--color-white);
  font-weight: var(--font-weight-03);
  font-size: var(--font-size-03);
  border: none;
  border-radius: var(--border-radius-01);
}

.container_total-value {
  width: 22.1875rem;
  padding: 1.875rem 1.4331rem;
  border: 1px solid var(--color-grey-02);
  margin: 1.125rem 3.6875rem 1.125rem 0;
}

.container_total-value div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.375rem;
}

.financial-summary_side {
  width: 35rem;
  margin-left: 4.125rem;
}

.financial-summary_side h2 {
  margin-bottom: 0.9375rem;
}

.financial-summary_side ul {
  list-style: none;
}

.financial-summary_side li {
  height: 5.4375rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-grey-01);
  border-radius: var(--border-radius-02);
  border-left: 4px solid var(--color-secondary-01);
  padding: 0.5rem 1.125rem;
}

.financial-summary_side li:not(:last-of-type) {
  margin-bottom: 0.9375rem;
}

.card_title-state {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card_value-delete {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn_delete {
  width: 3.0625rem;
  height: 1.1875rem;
  align-self: flex-end;
  background-color: var(--color-grey-02);
  font-size: var(--font-size-05);
  font-weight: var(--font-weight-01);
  color: var(--color-grey-04);
  border-radius: var(--border-radius-03);
  border: none;
}

@media (max-width: 500px) {
  .App {
    width: 100%;
    flex-direction: column;
    padding: 0px 1.3125rem;
  }

  .header_container {
    width: 100%;
  }

  .header_container img {
    margin-left: 1.25rem;
  }

  form {
    width: 100%;
    margin: 0px;
  }
  
  .container_total-value {
    width: 100%;
  }

  .financial-summary_side {
    width: 100%;
    margin: 2rem 0 2.125rem 0;
  }

  .financial-summary_side li {
    width: 100%;
    min-height: 9.75rem;
    flex-direction: column;
    justify-content: center;
    gap: 0.625rem;
  }

  .card_title-state {
    gap: 0.625rem;
  }

  .card_value-delete {
    gap: 0.625rem;
  }

  .btn_delete {
    align-self: flex-start;
  }
}